<%- include('includes/head.ejs') %><br>

<form action="/add-product" method="POST">
    <label for="bookTitle">Book Title: </label>
    <input type="text" name="bookTitle">
    <br>
    <br>
    <label for="bookDesc">Description: </label>
    <input type="text" name="bookDesc">
    <br>
    <br>
    <label for="price">Listed Price: </label>
    <input type="number" name="price">
    <br>
    <br>
    <button type="submit">Add Book</button>
</form>

<%- include('includes/end.ejs') %>